<!DOCTYPE html>
<html lang="en">
  <head>
    <title>hello world</title>
  </head>
  <body>
    <h1>query is {{ . }}</h1>

    <br> <br> <br>
    <form action="/about" method="POST">
      Name:<br>
      <input type="text" name="name" >
      <br>
      <br>
      <input type="submit" value="Submit">
    </form> 

    <br> <br> <br>
    <form action="/photo" method="POST" enctype="multipart/form-data">
      photo:<br>
      <input type="file" name="photo" >
      <br>
      <br>
      <input type="submit" value="Submit">
    </form> 
</body>
</html>